# Glob Syntax

advert.pdf
__build/
output/
syntax: glob
*eps-converted-to.pdf*
*.upb
*.upa
*.bcf
*~
build/
*.bbl
*-blx.bib
*.run.xml
*.DS_Store
auto/
.DS_Store
*.upa
*.upb
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
*~
._DS_Store
auto/
/presentation.slides.pdf
/logo/spli.pdf
